body {
    margin: 0;
    padding: 0;
    background-color:aliceblue
}
.principal {
    margin-top: 4%;
    width: 90%;
    display: inline-block;
    top: 50px;
}
.principal .video {
    text-align: center;
}
.principal .video #myVideo {
    width: 60%;
}
.principal .content {
    margin-top: -32%;
    position: relative;
    color:gold;
    text-align: center;
}
.principal .content-pie {
    margin-top: 17%;
    position: relative;
    color:gold;
    text-align: center;
}
.carusel {
    margin-top: 5%;
    width: 90%;
    display: inline-block;
}
  .slider {
      margin-top: 50%;
      width: 60%;
      margin: auto;
      overflow: hidden;
  }
  .slider ul {
      display: flex;
      padding: 0;  
      width: 400%;  

      animation: cambio 10s infinite alternate;
      animation-timing-function: ease-in;
      /* animation-direction: alternate; */
  }
  .slider li {
    width: 100%;
    list-style: none;
  }
  .slider img {
      width: 100%;
  }
  @keyframes cambio{
      0% { margin-left: 0;}
      20% { margin-left: 0;}

      25% { margin-left: -100%;}
      45% { margin-left: -100%;}

      50% { margin-left: -200%;}
      70% { margin-left: -200%;}

      75% { margin-left: -300%;}
      100% { margin-left: -300%;}
  }
  /* CSS para emular carrusel  */

  /* FOOTE */
aside {
    background-color: darkkhaki;
    width: 25%;
    margin-top: -71%;
    position: fixed;
    margin-left: 75%; 
}
.footer {
    display: flex;
    border-top: 1px solid black;
}